In [1]:
%pwd

'D:\\temp\\Jupyter'

In [1]:
import pandas as pd

In [2]:
order = pd.read_csv('meal_order_info.csv',
        sep=',',encoding='gb18030') ##读取订单信息表
order.head()

,info_id,emp_id,number_consumers,mode,dining_table_id,dining_table_name,expenditure,dishes_count,accounts_payable,use_start_time,...,lock_time,cashier_id,pc_id,order_number,org_id,print_doc_bill_num,lock_table_info,order_status,phone,name
0,417,1442,4,NaN,1501,1022,165,5,165,2016/8/1 11:05:36,...,2016/8/1 11:11:46,NaN,NaN,NaN,330,NaN,NaN,1,18688880641,苗宇怡
1,301,1095,3,NaN,1430,1031,321,6,321,2016/8/1 11:15:57,...,2016/8/1 11:31:55,NaN,NaN,NaN,328,NaN,NaN,1,18688880174,赵颖
2,413,1147,6,NaN,1488,1009,854,15,854,2016/8/1 12:42:52,...,2016/8/1 12:54:37,NaN,NaN,NaN,330,NaN,NaN,1,18688880276,徐毅凡
3,415,1166,4,NaN,1502,1023,466,10,466,2016/8/1 12:51:38,...,2016/8/1 13:08:20,NaN,NaN,NaN,330,NaN,NaN,1,18688880231,张大鹏
4,392,1094,10,NaN,1499,1020,704,24,704,2016/8/1 12:58:44,...,2016/8/1 13:07:16,NaN,NaN,NaN,330,NaN,NaN,1,18688880173,孙熙凯

In [3]:
order.dtypes

info_id                 int64
emp_id                  int64
number_consumers        int64
mode                  float64
dining_table_id         int64
dining_table_name       int64
expenditure             int64
dishes_count            int64
accounts_payable        int64
use_start_time         object
check_closed          float64
lock_time              object
cashier_id            float64
pc_id                 float64
order_number          float64
org_id                  int64
print_doc_bill_num    float64
lock_table_info       float64
order_status            int64
phone                   int64
name                   object
dtype: object

In [8]:
detail = pd.read_csv('detail.csv',encoding='gb18030') ##读取用户信息表
detail.head()

,detail_id,order_id,dishes_id,logicprn_name,parent_class_name,dishes_name,itemis_add,counts,amounts,cost,place_order_time,discount_amt,discount_reason,kick_back,add_inprice,add_info,bar_code,picture_file,emp_id
0,2956,417,610062,NaN,NaN,蒜蓉生蚝,0,1,49,NaN,2016/8/111:05:00,NaN,NaN,NaN,0,NaN,NaN,caipu/104001.jpg,1442
1,2958,417,609957,NaN,NaN,蒙古烤羊腿,0,1,48,NaN,2016/8/111:07:00,NaN,NaN,NaN,0,NaN,NaN,caipu/202003.jpg,1442
2,2961,417,609950,NaN,NaN,大蒜苋菜,0,1,30,NaN,2016/8/111:07:00,NaN,NaN,NaN,0,NaN,NaN,caipu/303001.jpg,1442
3,2966,417,610038,NaN,NaN,芝麻烤紫菜,0,1,25,NaN,2016/8/111:11:00,NaN,NaN,NaN,0,NaN,NaN,caipu/105002.jpg,1442
4,2968,417,610003,NaN,NaN,蒜香包,0,1,13,NaN,2016/8/111:11:00,NaN,NaN,NaN,0,NaN,NaN,caipu/503002.jpg,1442

In [5]:
detail.dtypes

detail_id              int64
order_id               int64
dishes_id              int64
logicprn_name        float64
parent_class_name    float64
dishes_name           object
itemis_add             int64
counts                 int64
amounts                int64
cost                 float64
place_order_time      object
discount_amt         float64
discount_reason      float64
kick_back            float64
add_inprice            int64
add_info             float64
bar_code             float64
picture_file          object
emp_id                 int64
dtype: object

In [6]:
## 数据类型转换，存储部分数据
order['info_id'] = order['info_id'].astype('int64')
order['emp_id'] = order['emp_id'].astype('int64')
order.dtypes

info_id                 int64
emp_id                  int64
number_consumers        int64
mode                  float64
dining_table_id         int64
dining_table_name       int64
expenditure             int64
dishes_count            int64
accounts_payable        int64
use_start_time         object
check_closed          float64
lock_time              object
cashier_id            float64
pc_id                 float64
order_number          float64
org_id                  int64
print_doc_bill_num    float64
lock_table_info       float64
order_status            int64
phone                   int64
name                   object
dtype: object

In [8]:
data = pd.merge(detail,order,left_on=['order_id','emp_id'],
        right_on = ['info_id','emp_id'])
print('两张表数据主键合并后的大小为：',data.shape)

两张表数据主键合并后的大小为： (10037, 39)

In [9]:
data.head()

,detail_id,order_id,dishes_id,logicprn_name,parent_class_name,dishes_name,itemis_add,counts,amounts,cost,...,lock_time,cashier_id,pc_id,order_number,org_id,print_doc_bill_num,lock_table_info,order_status,phone,name
0,2956,417,610062,NaN,NaN,蒜蓉生蚝,0,1,49,NaN,...,2016/8/1 11:11:46,NaN,NaN,NaN,330,NaN,NaN,1,18688880641,苗宇怡
1,2958,417,609957,NaN,NaN,蒙古烤羊腿,0,1,48,NaN,...,2016/8/1 11:11:46,NaN,NaN,NaN,330,NaN,NaN,1,18688880641,苗宇怡
2,2961,417,609950,NaN,NaN,大蒜苋菜,0,1,30,NaN,...,2016/8/1 11:11:46,NaN,NaN,NaN,330,NaN,NaN,1,18688880641,苗宇怡
3,2966,417,610038,NaN,NaN,芝麻烤紫菜,0,1,25,NaN,...,2016/8/1 11:11:46,NaN,NaN,NaN,330,NaN,NaN,1,18688880641,苗宇怡
4,2968,417,610003,NaN,NaN,蒜香包,0,1,13,NaN,...,2016/8/1 11:11:46,NaN,NaN,NaN,330,NaN,NaN,1,18688880641,苗宇怡

In [28]:
import pandas as pd
detail = pd.read_csv('detail.csv',  index_col=0,encoding = 'gbk')
##方法一
##定义去重函数
def delRep(list1):
    list2=[]
    for i in list1:
        if i not in list2:
            list2.append(i)
    return list2 
## 去重
dishes=list(detail['dishes_name']) ##将dishes_name从数据框中提取出来
print('去重前菜品总数为：',len(dishes)) 
dish = delRep(dishes) ##使用自定义的去重函数去重
print('方法一去重后菜品总数为：',len(dish))

去重前菜品总数为： 10037
方法一去重后菜品总数为： 145

In [29]:
##方法二
print('去重前菜品总数为：',len(dishes)) 
dish_set = set(dishes) ##利用set的特性去重
print('方法二去重后菜品总数为：',len(dish_set))

去重前菜品总数为： 10037
方法二去重后菜品总数为： 145

In [38]:
dish_set

{'38度剑南春',
 '42度海之蓝',
 '50度古井贡酒',
 '52度泸州老窖',
 '53度茅台',
 '一品香酥藕',
 '三丝鳝鱼',
 '三色凉拌手撕兔',
 '不加一滴油的酸奶蛋糕',
 '五彩藕苗',
 '五彩豆',
 '五色糯米饭(七色)',
 '五香酱驴肉',
 '倒立蒸梭子蟹',
 '党参黄芪炖牛尾',
 '农夫山泉NFC果汁100%橙汁',
 '冬瓜炒苦瓜',
 '冰糖红豆薏米粥',
 '冰镇花螺',
 '凉拌海带豆芽紫菜',
 '凉拌菠菜',
 '凉拌萝卜丝',
 '凉拌蒜蓉西兰花',
 '剁椒鱼头',
 '北冰洋汽水',
 '南瓜枸杞小饼干',
 '南瓜芝士包',
 '咖啡奶香面包',
 '哈尔滨啤酒罐装',
 '啤酒鸭',
 '土豆西红柿汤面',
 '培根紫菜卷',
 '培根花菜',
 '大理石奶油蛋糕',
 '大蒜苋菜',
 '姜葱炒花蟹',
 '孜然羊排',
 '宝宝版牛肉肠粉',
 '小炒羊腰',
 '小米南瓜粥',
 '山药养生粥',
 '干锅田鸡',
 '广式虾仁肠粉',
 '张裕葡萄酒张裕赤霞珠干红',
 '快炒黄鳝',
 '意文柠檬汁',
 '打卤面',
 '拌土豆丝',
 '木须豌豆',
 '杭椒鸡珍',
 '核桃葡萄干土司',
 '桂圆枸杞鸽子汤',
 '桂圆肉红豆八宝饭',
 '水煮鱼',
 '油焖麻辣虾',
 '法国波尔多AOC干红葡萄酒原',
 '泡椒凤爪',
 '海带结豆腐汤',
 '清炒菊花菜',
 '清爽拌凉面',
 '清蒸海鱼',
 '清蒸蝶鱼',
 '炝炒大白菜',
 '焖猪手',
 '照烧鸡腿',
 '爆炒双丝',
 '爆炒猪肝',
 '爆炒鳝碌',
 '爆炒鸡翅',
 '牛奶卷',
 '牛尾汤',
 '牛肉鸡蛋肠粉',
 '特醇嘉士伯啤酒罐装',
 '独家薄荷鲜虾牛肉卷',
 '玉竹南北杏鸭腿汤',
 '番茄有机花菜',
 '番茄炖牛腩',
 '番茄炖秋葵',
 '番茄甘蓝',
 '番茄蛋汤',
 '白斩鸡',
 '白胡椒胡萝卜羊肉汤',
 '白饭/大碗',
 '白饭/小碗',
 '百威啤酒罐装',
 '百里香奶油烤紅酒牛肉',
 '百里香奶油烤红酒牛肉',
 '皮蛋瘦肉粥',
 '盘蟹蒸蛋',
 '糖醋蕃茄溜青花',
 '紫薯面包卷',
 '红酒土豆烧鸭腿',
 '红酒炖羊肉',
 '纸杯蛋糕',
 '美妙绝伦之白莲花',
 '老式面包',
 '肉丁茄子',
 '自制猪肉脯',
 '芝士烩波士顿龙虾',
 '芝麻烤紫菜',
 '花蛤蒸蛋',
 '芹菜炒腰花',
 '芹黄鳝丝',
 '葡萄奶酥(超酥香的饼干)',
 '葱姜炒蟹',
 '葱油凉拌藕片',
 '蒙古烤羊腿',
 '蒜蓉生蚝',
 '蒜香包',
 '蒜香辣花甲',
 '蓝带啤酒罐装',
 '蛋挞',
 '西瓜胡萝卜沙拉',
 '谷稻小庄',
 '豌豆薯仔猪骨汤',
 '超人气广式肠粉',
 '路易拉菲红酒干红',
 '辣炒海带丝',
 '辣炒田螺',
 '辣炒花蛤',
 '辣炒鱿鱼',
 '避风塘炒蟹',
 '酸辣汤面',
 '酸辣藕丁',
 '重庆特色油烧兔',
 '金玉良缘',
 '铁板牛肉',
 '长城窖酿解百纳红酒干红葡萄酒',
 '露露无糖杏仁露',
 '青岛啤酒罐装',
 '青炒扁豆',
 '香烤牛排',
 '香菇鸡肉粥',
 '香菇鹌鹑蛋',
 '香辣爆羊肝',
 '香辣腐乳炒虾',
 '香酥两吃大虾',
 '鱼香肉丝拌面',
 '鲜美鳝鱼',
 '鸡蛋、肉末肠粉',
 '麻辣小龙虾',
 '黄尾袋鼠西拉子红葡萄酒',
 '黄油曲奇饼干',
 '黄花菜炒木耳',
 '黑米恋上葡萄'}

In [36]:
##对dishes_name去重
dishes_name = detail['dishes_name'].drop_duplicates()
print('drop_duplicates方法去重之后菜品总数为：',len(dishes_name))

print('去重之前订单详情表的形状为：', detail.shape)
shapeDet = detail.drop_duplicates(subset = ['order_id',
    'emp_id']).shape
print('依照订单编号，会员编号去重之后订单详情表大小为:', shapeDet)

drop_duplicates方法去重之后菜品总数为： 145
去重之前订单详情表的形状为： (10037, 18)
依照订单编号，会员编号去重之后订单详情表大小为: (942, 18)

In [39]:
##定义求取特征是否完全相同的矩阵的函数
def FeatureEquals(df):
    dfEquals=pd.DataFrame([],columns=df.columns,index=df.columns)
    for i in df.columns:
       for j in df.columns:
           dfEquals.loc[i,j]=df.loc[:,i].equals(df.loc[:,j])
    return dfEquals
## 应用上述函数
detEquals=FeatureEquals(detail)
print('detail的特征相等矩阵的前5行5列为：\n',detEquals.iloc[:5,:5])

detail的特征相等矩阵的前5行5列为：
                   order_id dishes_id logicprn_name parent_class_name  \
order_id              True     False         False             False
dishes_id            False      True         False             False
logicprn_name        False     False          True              True
parent_class_name    False     False          True              True
dishes_name          False     False         False             False

                  dishes_name
order_id                False
dishes_id               False
logicprn_name           False
parent_class_name       False
dishes_name              True

In [40]:
##遍历所有数据
lenDet = detEquals.shape[0]
dupCol = []
for k in range(lenDet):
    for l in range(k+1,lenDet):
        if detEquals.iloc[k,l] & (detEquals.columns[l] not in dupCol):
            dupCol.append(detEquals.columns[l])
##进行去重操作
print('需要删除的列为：',dupCol)
detail.drop(dupCol,axis=1,inplace=True)
print('删除多余列后detail的特征数目为：',detail.shape[1])

需要删除的列为： ['parent_class_name', 'cost', 'discount_amt', 'discount_reason', 'kick_back', 'add_info', 'bar_code', 'add_inprice']
删除多余列后detail的特征数目为： 10

In [42]:
print('detail每个特征缺失的数目为：\n',detail.isnull().sum())
print('detail每个特征非缺失的数目为：\n',detail.notnull().sum())

detail每个特征缺失的数目为：
 order_id                0
dishes_id               0
logicprn_name       10037
dishes_name             0
itemis_add              0
counts                  0
amounts                 0
place_order_time        0
picture_file            0
emp_id                  0
dtype: int64
detail每个特征非缺失的数目为：
 order_id            10037
dishes_id           10037
logicprn_name           0
dishes_name         10037
itemis_add          10037
counts              10037
amounts             10037
place_order_time    10037
picture_file        10037
emp_id              10037
dtype: int64

In [43]:
print('去除缺失的列前detail的形状为：', detail.shape)
print('去除缺失的列后detail的形状为：',
    detail.dropna(axis = 1,how ='any').shape)

去除缺失的列前detail的形状为： (10037, 10)
去除缺失的列后detail的形状为： (10037, 9)

In [44]:
detail = detail.fillna(-99)
print('detail每个特征缺失的数目为：\n',detail.isnull().sum())

detail每个特征缺失的数目为：
 order_id            0
dishes_id           0
logicprn_name       0
dishes_name         0
itemis_add          0
counts              0
amounts             0
place_order_time    0
picture_file        0
emp_id              0
dtype: int64

In [45]:
## 线性插值
import numpy as np
from scipy.interpolate import interp1d
x=np.array([1,2,3,4,5,8,9,10]) ##创建自变量x
y1=np.array([2,8,18,32,50,128,162,200]) ##创建因变量y1
y2=np.array([3,5,7,9,11,17,19,21]) ##创建因变量y2
LinearInsValue1 = interp1d(x,y1,kind='linear') ##线性插值拟合x,y1
LinearInsValue2 = interp1d(x,y2,kind='linear') ##线性插值拟合x,y2
print('当x为6、7时，使用线性插值y1为：',LinearInsValue1([6,7]))
print('当x为6、7时，使用线性插值y2为：',LinearInsValue2([6,7]))

当x为6、7时，使用线性插值y1为： [ 76. 102.]
当x为6、7时，使用线性插值y2为： [13. 15.]

In [46]:
## 拉格朗日插值
from scipy.interpolate import lagrange
LargeInsValue1 = lagrange(x,y1) ##拉格朗日插值拟合x,y1
LargeInsValue2 = lagrange(x,y2) ##拉格朗日插值拟合x,y2
print('当x为6,7时，使用拉格朗日插值y1为：',LargeInsValue1([6,7]))
print('当x为6,7时，使用拉格朗日插值y2为：',LargeInsValue2([6,7]))

当x为6,7时，使用拉格朗日插值y1为： [72. 98.]
当x为6,7时，使用拉格朗日插值y2为： [13. 15.]

In [57]:
##样条插值
from scipy.interpolate import interp1d

SplineInsValue3 = interp1d(x,y1,kind='quadratic') ##线性插值拟合x,y1
SplineInsValue4 = interp1d(x,y2,kind='slinear') ##线性插值拟合x,y2
SplineInsValue5 = interp1d(x,y1,kind='nearest') ##线性插值拟合x,y2
print('当x为6、7时，使用线性插值y1为：',SplineInsValue3([6,7]))
print('当x为6、7时，使用线性插值y2为：',SplineInsValue4([6,7]))
print('当x为6、7时，使用线性插值y1为：',SplineInsValue5([6,7]))

当x为6、7时，使用线性插值y1为： [72. 98.]
当x为6、7时，使用线性插值y2为： [13. 15.]
当x为6、7时，使用线性插值y1为： [ 50. 128.]

In [58]:
## 定义拉依达准则识别异常值函数
def outRange(Ser1):
    boolInd = (Ser1.mean()-3*Ser1.std()>Ser1) | \
    (Ser1.mean()+3*Ser1.var()< Ser1)
    index = np.arange(Ser1.shape[0])[boolInd]
    outrange = Ser1.iloc[index]
    return outrange
outlier = outRange(detail['counts'])
print('使用拉依达准则判定异常值个数为:',outlier.shape[0])
print('异常值的最大值为：',outlier.max())
print('异常值的最小值为：',outlier.min())

使用拉依达准则判定异常值个数为: 209
异常值的最大值为： 10
异常值的最小值为： 3

In [70]:
import pandas as pd
detail = pd.read_csv('detail.csv',  index_col=0,encoding = 'gbk')
print('进行去重操作前订单详情表的形状为：',detail.shape)
##样本去重
detail.drop_duplicates(inplace = True)
##特征去重
def FeatureEquals(df):
    ##定义求取特征是否完全相同的矩阵的函数
    dfEquals=pd.DataFrame([],columns=df.columns,index=df.columns)
    for i in df.columns:
        for j in df.columns:
            dfEquals.loc[i,j]=df.loc[:,i].equals(df.loc[:,j])
    return dfEquals
detEquals=FeatureEquals(detail)## 应用上述函数
##遍历所有数据
lenDet = detEquals.shape[0]
dupCol = []
for k in range(lenDet):
    for l in range(k+1,lenDet):
        if detEquals.iloc[k,l] & (detEquals.columns[l] not in dupCol):
            dupCol.append(detEquals.columns[l])
##删除重复列
detail.drop(dupCol,axis=1,inplace=True)
print('进行去重操作后订单详情表的形状为：',detail.shape)


#统计各个特征的缺失率
naRate = (detail.isnull().sum()/ \
    detail.shape[0]*100).astype('str')+'%'
print('detail每个特征缺失的率为：\n',naRate)
##删除全部均为缺失的列
detail.dropna(axis = 1,how = 'all',inplace = True)
print('经过缺失值处理后订单详情表各特征缺失值的数目为：\n',
    detail.isnull().sum())

##定义异常值识别与处理函数
def outRange(Ser1):
    QL = Ser1.quantile(0.25)
    QU = Ser1.quantile(0.75)
    IQR = QU-QL
    Ser1.loc[Ser1>(QU+1.5*IQR)] = QU
    Ser1.loc[Ser1<(QL-1.5*IQR)] = QL
    return Ser1
## 处理销售量和售价的异常值
detail['counts'] = outRange(detail['counts'])
detail['amounts'] = outRange(detail['amounts'])
##查看处理后的销售量和售价的最小值，最大值
print('销售量最小值为：', detail['counts'].min())
print('销售量最大值为：', detail['counts'].max())
print('售价最小值为：', detail['amounts'].min())
print('售价最大值为：', detail['amounts'].max())

进行去重操作前订单详情表的形状为： (10037, 18)
进行去重操作后订单详情表的形状为： (10037, 10)
detail每个特征缺失的率为：
 order_id              0.0%
dishes_id             0.0%
logicprn_name       100.0%
dishes_name           0.0%
itemis_add            0.0%
counts                0.0%
amounts               0.0%
place_order_time      0.0%
picture_file          0.0%
emp_id                0.0%
dtype: object
经过缺失值处理后订单详情表各特征缺失值的数目为：
 order_id            0
dishes_id           0
dishes_name         0
itemis_add          0
counts              0
amounts             0
place_order_time    0
picture_file        0
emp_id              0
dtype: int64
销售量最小值为： 1.0
销售量最大值为： 1.0
售价最小值为： 1.0
售价最大值为： 99.0

c:\users\jiaming\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
c:\users\jiaming\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
c:\users\jiaming\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
c:\users\jiaming\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [71]:
import pandas as pd
import numpy as np
detail = pd.read_csv('detail.csv',index_col=0,encoding = 'gbk')
## 自定义离差标准化函数
def MinMaxScale(data):
    data=(data-data.min())/(data.max()-data.min())
    return data
##对菜品订单表售价和销量做离差标准化
data1=MinMaxScale(detail['counts'])
data2=MinMaxScale(detail ['amounts'])
data3=pd.concat([data1,data2],axis=1)
print('离差标准化之前销量和售价数据为：\n',
    detail[['counts','amounts']].head())
print('离差标准化之后销量和售价数据为：\n',data3.head())

离差标准化之前销量和售价数据为：
            counts  amounts
detail_id
2956            1       49
2958            1       48
2961            1       30
2966            1       25
2968            1       13
离差标准化之后销量和售价数据为：
            counts   amounts
detail_id
2956          0.0  0.271186
2958          0.0  0.265537
2961          0.0  0.163842
2966          0.0  0.135593
2968          0.0  0.067797

In [72]:

##自定义标准差标准化函数
def StandardScaler(data):
    data=(data-data.mean())/data.std()
    return data
##对菜品订单表售价和销量做标准化
data4=StandardScaler(detail['counts'])
data5=StandardScaler(detail['amounts'])
data6=pd.concat([data4,data5],axis=1)
print('标准差标准化之前销量和售价数据为：\n',
    detail[['counts','amounts']].head())
print('标准差标准化之后销量和售价数据为：\n',data6.head())

标准差标准化之前销量和售价数据为：
            counts  amounts
detail_id
2956            1       49
2958            1       48
2961            1       30
2966            1       25
2968            1       13
标准差标准化之后销量和售价数据为：
              counts   amounts
detail_id
2956      -0.177571  0.116671
2958      -0.177571  0.088751
2961      -0.177571 -0.413826
2966      -0.177571 -0.553431
2968      -0.177571 -0.888482

In [73]:

##自定义小数定标差标准化函数
def DecimalScaler(data):
    data=data/10**np.ceil(np.log10(data.abs().max()))
    return data
##对菜品订单表售价和销量做标准化
data7=DecimalScaler(detail['counts'])
data8=DecimalScaler(detail['amounts'])
data9=pd.concat([data7,data8],axis=1)
print('小数定标标准化之前的销量和售价数据：\n',
    detail[['counts','amounts']].head())
print('小数定标标准化之后的销量和售价数据：\n',data9.head())

小数定标标准化之前的销量和售价数据：
            counts  amounts
detail_id
2956            1       49
2958            1       48
2961            1       30
2966            1       25
2968            1       13
小数定标标准化之后的销量和售价数据：
            counts  amounts
detail_id
2956          0.1    0.049
2958          0.1    0.048
2961          0.1    0.030
2966          0.1    0.025
2968          0.1    0.013

In [74]:
##自定义标准差标准化函数
def StandardScaler(data):
    data=(data-data.mean())/data.std()
    return data
##对菜品订单表售价和销量做标准化
data4=StandardScaler(detail['counts'])
data5=StandardScaler(detail['amounts'])
data6=pd.concat([data4,data5],axis = 1)
print('标准差标准化之后销量和销量数据为：','\n',data6.head(10))

标准差标准化之后销量和销量数据为：
              counts   amounts
detail_id
2956      -0.177571  0.116671
2958      -0.177571  0.088751
2961      -0.177571 -0.413826
2966      -0.177571 -0.553431
2968      -0.177571 -0.888482
1899      -0.177571  1.205587
1902      -0.177571  0.284197
1906      -0.177571  1.205587
1907      -0.177571  0.088751
1908      -0.177571 -0.357984

In [76]:
detail = pd.read_csv('detail.csv',encoding = 'gbk')
data=detail.loc[0:5,'dishes_name']   ##抽取部分数据做演示
print('哑变量处理前的数据为：\n',data)
print('哑变量处理后的数据为：\n',pd.get_dummies(data))

哑变量处理前的数据为：
 0     蒜蓉生蚝
1    蒙古烤羊腿
2     大蒜苋菜
3    芝麻烤紫菜
4      蒜香包
5      白斩鸡
Name: dishes_name, dtype: object
哑变量处理后的数据为：
    大蒜苋菜  白斩鸡  芝麻烤紫菜  蒙古烤羊腿  蒜蓉生蚝  蒜香包
0     0    0      0      0     1    0
1     0    0      0      1     0    0
2     1    0      0      0     0    0
3     0    0      1      0     0    0
4     0    0      0      0     0    1
5     0    1      0      0     0    0

In [77]:
price = pd.cut(detail['amounts'],5)
print('离散化后5条记录售价分布为：\n' ,price.value_counts())

离散化后5条记录售价分布为：
 (0.823, 36.4]     5461
(36.4, 71.8]      3157
(71.8, 107.2]      839
(142.6, 178.0]     426
(107.2, 142.6]     154
Name: amounts, dtype: int64

In [78]:
##自定义等频法离散化函数
def SameRateCut(data,k):
    w=data.quantile(np.arange(0,1+1.0/k,1.0/k))
    data=pd.cut(data,w)
    return data
result=SameRateCut(detail['amounts'],5).value_counts()   ##菜品售价等频法离散化
print('菜品数据等频法离散化后各个类别数目分布状况为：','\n',result)

菜品数据等频法离散化后各个类别数目分布状况为：
 (18.0, 32.0]     2107
(39.0, 58.0]     2080
(32.0, 39.0]     1910
(1.0, 18.0]      1891
(58.0, 178.0]    1863
Name: amounts, dtype: int64

In [89]:
#自定义数据k-Means聚类离散化函数
def KmeanCut(data,k):
    from sklearn.cluster import KMeans #引入KMeans
    kmodel=KMeans(n_clusters=k)   #建立模型
    kmodel.fit(data.values.reshape((len(data), 1)))    #训练模型
    c=pd.DataFrame(kmodel.cluster_centers_).sort_values(0)   #输出聚类中心并排序_
    w=c.rolling(2).mean().iloc[1:]    #相邻两项求中点，作为边界点
#     c=pd.DataFrame([22,34,56,43])
#     c.rolling(2).mean()
    w=[0]+list(w[0])+[data.max()]    #把首末边界点加上
    data=pd.cut(data,w)
    return data
#菜品售价等频法离散化
result=KmeanCut(detail['amounts'],5).value_counts()
print('菜品售价聚类离散化后各个类别数目分布状况为：','\n',result)

            0
2   22.309501
4   43.509866
1   73.945304
3  131.858137
菜品售价聚类离散化后各个类别数目分布状况为：
 (22.31, 43.51]       3690
(43.51, 73.945]      2474
(0.0, 22.31]         2454
(73.945, 131.858]     993
(131.858, 178.0]      426
Name: amounts, dtype: int64

In [98]:
detail = pd.read_excel('meal_order_detail.xlsx')
detailGroup = detail[['order_id','counts','amounts']].groupby(by = 'order_id')
print('分组后的订单详情表为：',detailGroup)

分组后的订单详情表为： <pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001C45E385F70>

In [99]:
print('订单详情表分组后前5组每组的均值为：\n', 
      detailGroup.mean().head())

print('订单详情表分组后前5组每组的标准差为：\n', 
      detailGroup.std().head())

print('订单详情表分组后前5组每组的大小为：','\n', 
      detailGroup.size().head())

订单详情表分组后前5组每组的均值为：
             counts    amounts
order_id
137       1.500000  32.333333
165       1.166667  52.944444
166       1.400000  48.200000
171       1.428571  36.285714
177       1.000000  34.250000
订单详情表分组后前5组每组的标准差为：
             counts    amounts
order_id
137       1.224745  35.200379
165       0.383482  52.193613
166       0.547723  41.829415
171       1.133893  19.267540
177       0.000000  15.019432
订单详情表分组后前5组每组的大小为：
 order_id
137     6
165    18
166     5
171     7
177     4
dtype: int64

In [100]:
print('订单详情表的菜品销量与售价的和与均值为：\n',
      detail[['counts','amounts']].agg([np.sum,np.mean]))

订单详情表的菜品销量与售价的和与均值为：
            counts        amounts
sum   3088.000000  125992.000000
mean     1.111191      45.337172

In [101]:
print('订单详情表的菜品销量总和与售价的均值为：\n',
      detail.agg({'counts':np.sum,'amounts':np.mean}))

订单详情表的菜品销量总和与售价的均值为：
 counts     3088.000000
amounts      45.337172
dtype: float64

In [102]:
print('菜品订单详情表的菜品销量总和与售价的总和与均值为：\n',
      detail.agg({'counts':np.sum,'amounts':[np.mean,np.sum]}))

菜品订单详情表的菜品销量总和与售价的总和与均值为：
       counts        amounts
mean     NaN      45.337172
sum   3088.0  125992.000000

In [103]:
##自定义函数求两倍的和
def DoubleSum(data):
    s = data.sum()*2
    return s
print('菜品订单详情表的菜品销量两倍总和为：','\n',
      detail.agg({'counts':DoubleSum},axis = 0))

菜品订单详情表的菜品销量两倍总和为：
 counts    6176
dtype: int64

In [104]:
##自定义函数求两倍的和
def DoubleSum1(data):
    s = np.sum(data)*2
    return s
print('订单详情表的菜品销量两倍总和为：\n',
      detail.agg({'counts':DoubleSum1},axis = 0).head())  #自定义函数单个单个序列无法使用np内置的函数

订单详情表的菜品销量两倍总和为：
    counts
0       2
1       2
2       2
3       2
4       2

In [105]:
print('订单详情表的菜品销量与售价的和的两倍为：\n',
      detail[['counts','amounts']].agg(DoubleSum1))

订单详情表的菜品销量与售价的和的两倍为：
 counts       6176
amounts    251984
dtype: int64

In [106]:
print('订单详情表分组后前3组每组的均值为：\n', 
      detailGroup.agg(np.mean).head(3))

print('订单详情表分组后前3组每组的标准差为：\n', 
      detailGroup.agg(np.std).head(3))

订单详情表分组后前3组每组的均值为：
             counts    amounts
order_id
137       1.500000  32.333333
165       1.166667  52.944444
166       1.400000  48.200000
订单详情表分组后前3组每组的标准差为：
             counts    amounts
order_id
137       1.224745  35.200379
165       0.383482  52.193613
166       0.547723  41.829415

In [107]:
detail.dtypes

detail_id                     int64
order_id                      int64
dishes_id                     int64
logicprn_name               float64
parent_class_name           float64
dishes_name                  object
itemis_add                    int64
counts                        int64
amounts                       int64
cost                        float64
place_order_time     datetime64[ns]
discount_amt                float64
discount_reason             float64
kick_back                   float64
add_inprice                   int64
add_info                    float64
bar_code                    float64
picture_file                 object
emp_id                        int64
dtype: object

In [108]:
print('订单详情分组前3组每组菜品总数和售价均值为：\n', 
      detailGroup.agg({'counts':np.sum,'amounts':np.mean}).head(3))

订单详情分组前3组每组菜品总数和售价均值为：
           counts    amounts
order_id
137            9  32.333333
165           21  52.944444
166            7  48.200000

In [109]:
print('订单详情表的菜品销量与售价的均值为：\n',
      detail[['counts','amounts']].apply(np.mean))
print('订单详情表分组后前3组每组的均值为：','\n', detailGroup.apply(np.mean).head(3))
print('订单详情表分组后前3组每组的标准差为：','\n', detailGroup.apply(np.std).head(3))
#apply方法传入的函数智能作用域整个dataframe或者series，无法向agg一样可以对不同字段应用不同函数来获得不同的结果。

订单详情表的菜品销量与售价的均值为：
 counts      1.111191
amounts    45.337172
dtype: float64
订单详情表分组后前3组每组的均值为：
           order_id    counts    amounts
order_id
137          137.0  1.500000  32.333333
165          165.0  1.166667  52.944444
166          166.0  1.400000  48.200000
订单详情表分组后前3组每组的标准差为：
           order_id    counts    amounts
order_id
137            0.0  1.118034  32.133402
165            0.0  0.372678  50.723074
166            0.0  0.489898  37.413367

In [111]:
#transform方法对整个dataframe的所有元素进行操作，transform只有一个阐述func，表示对dataframe进行的操作
print('订单详情表的菜品销量与售价的两倍为：\n',
      detail[['counts','amounts']].transform(lambda x:x*2).head(10))

订单详情表的菜品销量与售价的两倍为：
    counts  amounts
0       2       98
1       2       96
2       2       60
3       2       50
4       2       26
5       2      176
6       2      110
7       2      176
8       2       96
9       2       64

In [113]:
# transform还能够对分组后的数据进行操作，例如：
print('订单详情表分组后实现组内离差标准化后前五行为：\n', 
      detailGroup.transform(lambda x:(x.mean()-x.min())/(x.max()-x.min())).tail())

<ipython-input-113-96801fa9b571>:3: RuntimeWarning: invalid value encountered in double_scalars
  detailGroup.transform(lambda x:(x.mean()-x.min())/(x.max()-x.min())).tail())

订单详情表分组后实现组内离差标准化后前五行为：
       counts   amounts
2774     NaN  0.430147
2775     NaN  0.430147
2776     NaN  0.430147
2777     NaN  0.430147
2778     NaN  0.430147

In [114]:
detail = pd.read_excel('meal_order_detail.xlsx')
detailPivot = pd.pivot_table(detail[['order_id','counts','amounts']], index = 'order_id')
print('以order_id作为分组键创建的订单透视表为：\n',detailPivot.head())

以order_id作为分组键创建的订单透视表为：
             amounts    counts
order_id
137       32.333333  1.500000
165       52.944444  1.166667
166       48.200000  1.400000
171       36.285714  1.428571
177       34.250000  1.000000

In [115]:
#通过aggfunc改变聚合函数
detailPivot1 = pd.pivot_table(detail[['order_id','counts','amounts']], index = 'order_id',aggfunc = np.sum)
print('以order_id作为分组键创建的订单销量与售价总和透视表为：\n',
       detailPivot1.head())

以order_id作为分组键创建的订单销量与售价总和透视表为：
           amounts  counts
order_id
137           194       9
165           953      21
166           241       7
171           254      10
177           137       4

In [116]:
#index可以有多个
detailPivot2 = pd.pivot_table(detail[[
      'order_id','dishes_name',
      'counts','amounts']],
      index = ['order_id','dishes_name'],
      aggfunc = np.sum)
print('以order_id和dishes_name作为分组键创建的订单\
销量与售价总和透视表为：\n',detailPivot2.head())

以order_id和dishes_name作为分组键创建的订单销量与售价总和透视表为：
                           amounts  counts
order_id dishes_name
137      农夫山泉NFC果汁100%橙汁        6       1
         凉拌菠菜                  27       1
         番茄炖牛腩\r\n             35       1
         白饭/小碗                  1       4
         西瓜胡萝卜沙拉               26       1

In [117]:
#通过设置columns参数指定列分组
detailPivot2 = pd.pivot_table(detail[[
      'order_id','dishes_name','counts','amounts']],
      index = 'order_id',
      columns = 'dishes_name',
      aggfunc = np.sum)
print('以order_id和dishes_name作为行列分组键创建的\
透视表前5行4列为：\n',detailPivot2.iloc[:5,:4])

以order_id和dishes_name作为行列分组键创建的透视表前5行4列为：
             amounts
dishes_name  42度海之蓝  北冰洋汽水  38度剑南春  50度古井贡酒
order_id
137             NaN     NaN     NaN     NaN
165             NaN     NaN    80.0     NaN
166             NaN     NaN     NaN     NaN
171             NaN     NaN     NaN     NaN
177             NaN     NaN     NaN     NaN

In [118]:
#当数据列很多时，若要只显示关心的列的时候可以使用values参数
detailPivot4 = pd.pivot_table(detail[[
      'order_id','dishes_name','counts','amounts']],
      index = 'order_id',
      values = 'counts',
      aggfunc = np.sum)
print('以order_id作为行分组键counts作为值创建的\
透视表前5行为：\n',detailPivot4.head())

以order_id作为行分组键counts作为值创建的透视表前5行为：
           counts
order_id
137            9
165           21
166            7
171           10
177            4

In [119]:
#当某些数据点不存在时会出现NAN，可以指定，fill_value进行填充
detailPivot5 = pd.pivot_table(detail[[
      'order_id','dishes_name','counts','amounts']],
      index = 'order_id',
      columns = 'dishes_name',
      aggfunc = np.sum,fill_value = 0)
print('空值填0后以order_id和dishes_name为行列分组键\
创建透视表前5行4列为：\n',detailPivot5.iloc[:5,:4])

空值填0后以order_id和dishes_name为行列分组键创建透视表前5行4列为：
             amounts
dishes_name  42度海之蓝  北冰洋汽水  38度剑南春  50度古井贡酒
order_id
137               0       0       0       0
165               0       0      80       0
166               0       0       0       0
171               0       0       0       0
177               0       0       0       0

In [120]:
#增加margins参数，可以获得汇集列
detailPivot6 = pd.pivot_table(detail[[
      'order_id','dishes_name','counts','amounts']],
      index = 'order_id',columns = 'dishes_name',
      aggfunc = np.sum,fill_value = 0,
      margins = True)
print('添加margins后以order_id和dishes_name为分组键\
的透视表前5行后4列为：\n',detailPivot6.iloc[:5,-4:])

添加margins后以order_id和dishes_name为分组键的透视表前5行后4列为：
             counts
dishes_name 黄油曲奇饼干 黄花菜炒木耳 黑米恋上葡萄 All
order_id
137              0      0      0   9
165              0      1      0  21
166              0      0      0   7
171              0      0      0  10
177              0      0      0   4

In [121]:
detailCross = pd.crosstab(
      index=detail['order_id'],
      columns=detail['dishes_name'],
      values = detail['counts'],aggfunc = np.sum)
print('以order_id和dishes_name为分组键\
counts为值的透视表前5行5列为：\n',detailCross.iloc[:5,:5])

以order_id和dishes_name为分组键counts为值的透视表前5行5列为：
 dishes_name   42度海之蓝   北冰洋汽水   38度剑南春   50度古井贡酒  52度泸州老窖
order_id
137              NaN      NaN      NaN      NaN       NaN
165              NaN      NaN      1.0      NaN       NaN
166              NaN      NaN      NaN      NaN       NaN
171              NaN      NaN      NaN      NaN       NaN
177              NaN      NaN      NaN      NaN       NaN

In [122]:
#单日菜品成交总额
detail = pd.read_excel('meal_order_detail.xlsx')
detail['place_order_time'] = pd.to_datetime(detail['place_order_time'])
detail['date'] = [i.date() for i in detail['place_order_time']]
PivotDetail = pd.pivot_table(detail[['date','dishes_name','counts','amounts']],
      index ='date',aggfunc = np.sum,margins = True)
print('订单详情表单日菜品成交总额与总数透视表前5行5列为：\n',
      PivotDetail.head())

订单详情表单日菜品成交总额与总数透视表前5行5列为：
             amounts  counts
date
2016-08-01     9366     233
2016-08-02     6125     151
2016-08-03     6890     192
2016-08-04     7549     169
2016-08-05     8671     224

In [123]:
# #单个菜品单日成交总额
CrossDetail = pd.crosstab(
      index=detail['date'],
      columns=detail['dishes_name'],
      values = detail['amounts'],
      aggfunc = np.sum,margins = True)
print('订单详情表单日单个菜品成交总额交叉表后5行5列为：\n',
      CrossDetail.iloc[-5:,-5:])

订单详情表单日单个菜品成交总额交叉表后5行5列为：
 dishes_name  黄尾袋鼠西拉子红葡萄酒  黄油曲奇饼干  黄花菜炒木耳  黑米恋上葡萄     All
date
2016-08-07         230.0    32.0   105.0    99.0   31306
2016-08-08          46.0     NaN     NaN    33.0    6532
2016-08-09         138.0     NaN    35.0    99.0    7155
2016-08-10          46.0     NaN    70.0    33.0   10231
All                736.0    80.0   525.0   561.0  125992